<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/layout :: head('Favorite ')}">
</head>

<body>
    <h1><a href="/home">Favorite Blog</a></h1>
    <hr>
    <div class="tab-all">
        <ul class="tab">
            <li><a href="/home">Home</a></li>
            <li><a href="/blog">Blog Table</a></li>
            <li><a href="/myblog">My Blog</a></li>
            <li><a href="/write">Write</a></li>
            <li><a href="/save">Save FavBlog</a></li>
            <li><a href="/retire">Retire</a></li>
        </ul>
    </div>

    <div>
        <p th:if="${#lists.isEmpty(blog)}"> Blog have ever registered</p>
        <table>
            <tr>
                <th>Title</th>
                <th>Contents</th>
            </tr>
            <tr th:each="blog : ${blog}">
                <td><a th:href="@{/save/{id}(id=${blog.id})}" th:text="${blog.title}">Atacck on Titan</a></td>
                <td><span th:text="${blog.notes}">aaa</span></td>
            </tr>
        </table>
    </div>
</body>

</html>